PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_
CLERK_SECRET_KEY=sk_test_
PUBLIC_CLERK_SIGN_IN_URL=/masuk
PUBLIC_CLERK_SIGN_UP_URL=/daftar
PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/bergabung

PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=
